body {
  margin: 0;
  background: #050b2c;
  color: white;
  font-family: Arial;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background: #10163a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  background: #1f2a5a;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 15px;
}

.card {
  padding: 20px;
  border-radius: 20px;
}

.purple {
  background: linear-gradient(45deg,#7c3aed,#d946ef);
}

.blue {
  background: linear-gradient(45deg,#2563eb,#60a5fa);
}

.green {
  background: linear-gradient(45deg,#16a34a,#22c55e);
}

.orange {
  background: linear-gradient(45deg,#ea580c,#fb923c);
}

.formBox,
.tableBox {
  margin-top: 20px;
  background: #10163a;
  padding: 20px;
  border-radius: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

.formBox button {
  margin-top: 15px;
  background: #2563eb;
  border: none;
  padding: 12px 20px;
  color: white;
  border-radius: 10px;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

@media(max-width:768px){
  .container{
    flex-direction:column;
  }

  .sidebar{
    width:auto;
  }
}
